<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>

    <context:component-scan base-package="de"/>

    <!-- bean id="hello" class="de.application.hello.Hello" scope="singleton" lazy-init="true"  destroy-method="destroy">
        <property name="message" value="Hello Univers"/>

    </bean>

    <bean id="impl" class="de.math.CalculatorImpl" />

    <bean id="logger" class="de.math.CalculatorLogger"  >
        <constructor-arg ref="impl"/>
    </bean>
    <bean id="calculator" class="de.math.CalculatorSecure" >
        <constructor-arg ref="logger"/>
    </bean>

    <bean id="impl" class="de.math.CalculatorImpl" />


    <bean id="client" class="de.client.CalcClient" init-method="go" autowire="constructor" /-->




</beans>